.container {
	border-radius: 10px;
	flex: 1 0 45%;
	border: 1px solid rgb(194, 193, 193);
	padding: 20px;
}

.usersList {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.title {
	margin-bottom: 20px;
}

.user {
	margin-bottom:20px;
}